/* *{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f5f8ff;
} */
.containerz{
    margin: 80px 40px 0 40px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
    padding-bottom: 60px;
    padding-top: 100px;
}
.containerz h1{
    color: #333;
    font-size: 1.75rem;
}
.containerz .tab{
    position: relative;
    background: #fff;
    padding: 0 20px 20px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.05);
    border-radius: 5px;
    overflow: hidden;
}
.containerz .tab input{
    appearance: none;
}
.containerz .tab label{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.containerz .tab label::after{
    content: "+";
    position: absolute;
    right: 20px;
    font-size: 2em;
    color: rgba(0,0,0,0.1);
    transition: transform 1s;
}
.containerz .tab:hover label::after{
    color: #333;
}
.containerz .tab input:checked ~ label::after{
    transform: rotate(135deg);
}
.containerz .tab label h2{
    width: 40px;
    height: 40px;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.25em;
    border-radius: 5px;
    margin-right: 10px;
}
.containerz .tab label h3{
    position: relative;
    font-weight: 500;
    color: #333;
    z-index: 10;
}
.containerz .tab .content{
    max-height: 0;
    transition: 1s;
    overflow: hidden;
}
.containerz .tab input:checked ~ .content{
    max-height: 100vh;
}
.containerz .tab .content p{
    position: relative;
    padding: 10px 0;
    color: #333;
    z-index: 10;
}
.containerz .tab:hover{
    background-color: blanchedalmond;
}
.containerz{
    animation: fadeInUp 1s ease-in-out;
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: rotate(360deg);
    }

    to {
        opacity: 1;
        transform:scale(1);
    }
}